@page
@using TodoListRazor.Models
@model TodoListRazor.Pages.Todo.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TodoTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TodoTask.Id" />
            <div class="form-group">
                <label asp-for="TodoTask.Name" class="control-label"></label>
                <input asp-for="TodoTask.Name" class="form-control" />
                <span asp-validation-for="TodoTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoTask.Description" class="control-label"></label>
                <input asp-for="TodoTask.Description" class="form-control" />
                <span asp-validation-for="TodoTask.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoTask.CreatedDate" class="control-label"></label>
                <input asp-for="TodoTask.CreatedDate" class="form-control" />
                <span asp-validation-for="TodoTask.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoTask.DeadLine" class="control-label"></label>
                <input asp-for="TodoTask.DeadLine" class="form-control" />
                <span asp-validation-for="TodoTask.DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoTask.Importance" class="control-label"></label>
                <select asp-for="TodoTask.Importance" asp-items="Html.GetEnumSelectList<Importance>()" class="form-control">
                    <option selected="selected" value="">Please Select</option>
                </select>
                <span asp-validation-for="TodoTask.Importance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
